.login-logo {
  background-color: #f7b0bb;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 3px 8px 5px #000000;
}

body {
  background-color: #f2c6cd60;
}

.loginContainer {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}

.signBtn {
  margin-left: 18px;
}

.btnContainer {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
