body {
  margin: 0px;
  height: 100%;
  width: 100%;
}

.container {
  margin: 0px 15vw;
}

.navBar {
  height: 100px;
  width: 100vw;
  background-color: #f7b0bb;
  position: sticky;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.homepageBtn {
  font-size: 50px;
}

.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 0px;
}
/* 
.icon {
  height: 300px;
  width: 300px;
  border-radius: 100px;
  border: 1px solid black;
} */

/* .profileShowDiv {
  height: 300px;
  width: 300px;
  border-radius: 100px;
  border: 1px solid black;
} */

#profileIcon {
  width: 300px;
  height: 300px;
  border-radius: 100px;
  border: 2px solid black;
}

.name {
  font-size: 30px;
  text-align: center;
}

.detail {
  margin: 0px 0px 0px 100px;
  text-align: center;
  font-size: 20px;
}

.approach {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 0px;
}

.tags {
  height: 100%;
  width: 100%;
  margin: 0px 100px;
  text-align: center;
  font-size: 20px;
}

.photo {
  display: flex;
  flex-wrap: wrap;
}

.work {
  width: 27%;
  outline: 2px solid black;
  margin: 20px;
}

.section {
  text-align: center;
  font-size: 40px;
  margin: 20px 0px;
}

.detail {
  width: 400px;
  height: 180px;
  background-color: #f7b0bb;
  border-radius: 30px;
  border: 2px solid black;
}

.portfolio {
  width: 240px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 10px 10px 10px;
}

.portfolioContainer {
  width: 70vw;
  height: 240px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.modal1 {
  max-width: 1000px !important;
}

.portfolio {
  max-width: 240px;
  max-height: 240px;
}

.imageBtn {
  background-color: #fff !important;
  border-color: #fff !important;
}

.theBox {
  height: 900px;
}
