body {
  margin: 0px;
  background-color: #f2c6cd60;
}
/* nav-bar */
.logoContainer {
  display: flex;
  justify-content: center;
  width: 23rem;
}

.logo {
  font-size: 50px;
}

.navBar {
  height: 100px;
  width: 100%;
  background-color: #f7b0bb;
  position: sticky;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.logoutDiv {
  width: 300px;
  display: flex;
  justify-content: center;
}

#logoutBtn {
  width: 80px;
  height: 30px;
  border-radius: 40%;
  background-color: #f7b0bb;
  border: dashed;
}

#becomeMua {
  width: 100px;
  height: 30px;
  border-radius: 40%;
  background-color: #f7b0bb;
  border: dashed;
  margin-left: 10px;
}

.searchProfile {
  width: 30rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#searchIcon {
  color: #b3394b;
  border-color: #b3394b;
}

#searchIcon:hover {
  background-color: #b3394b;
}
#searchInput {
  background-color: #f78fb0;
}

#searchBar {
  display: flex;
  width: 15rem;
}

#profileIcon {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}

/* filter */
.filterDiv {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

#searchFilter {
  background-color: rgba(209, 108, 204, 0.336);
  width: 95vw;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.cat-list {
  display: flex;
  flex-wrap: wrap;
}

/* main body CSS */
#mainBody {
  display: flex;
  justify-content: space-around;
}

#main {
  background-color: #f7b0bb71;
  width: 780px;
  height: 70vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items:center;
}

@media only screen and (max-width: 768px) {
  .logo {
    font-size: 50px;
  }
}

@media only screen and (max-width: 968px) {
  .logo {
    font-size: 50px;
  }
  #main {
    background-color: #f7b0bb71;
    width: 750px;
    height: 200vh;
  }
}

#subMain {
  width: 90%;
}

.muaAbstract {
  width: 100%;
  /* height: 70px; */
  margin-top: 20px;
  background-color: #ecbee1;
  text-align: center;
}