body {
  margin: 0px;
  background-color: #f2c6cd60;
}
/* nav-bar */
.logoContainer {
  display: flex;
  justify-content: center;
  width: 23rem;
}

.logo {
  font-size: 50px;
}

.navBar {
  z-index: 1;
  height: 100px;
  width: 100%;
  background-color: #f7b0bb;
  position: sticky;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.logoContainer {
  width: 500px;
}

.logoutDiv {
  width: 300px;
  display: flex;
  justify-content: center;
}

#logoutBtn {
  width: 80px;
  height: 30px;
  border-radius: 40%;
  background-color: #f7b0bb;
  border: dashed;
}

#becomeMua {
  width: 100px;
  height: 30px;
  border-radius: 40%;
  background-color: #f7b0bb;
  border: dashed;
  margin-left: 10px;
}

.searchProfile {
  width: 30rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#searchIcon {
  color: #b3394b;
  border-color: #b3394b;
}

#searchIcon:hover {
  background-color: #b3394b;
}
#searchInput {
  background-color: #f78fb0;
}

#searchBar {
  display: flex;
  width: 15rem;
}

#profileIcon {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  object-fit: contain;
  border: 1px solid black;
}

/* filter */
.filterDiv {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

#searchFilter {
  background-color: #f7b0bb;
  width: fit-content;
  height: fit-content;
  display: flex;
  /* align-items: center; */
  justify-content: space-around;
  font-size: 2rem;
  flex-wrap: wrap;
  padding: 20px 20px 10px;
}

.searchFilterSubmit {
  width: 10rem;
  height: 3rem;
  background-color: #f78fb0;
  margin: 8px;
}

.searchFilterSubmit:hover {
  box-shadow: 3px 3px 10px 3px rgba(48, 13, 13, 0.9);
}

#saveCat {
  background-color: #f7b0bb;
  width: 45vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  /* font-size: 30px; */
}

.cat-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: left;
  width: 100%;
  max-height: 100%;
}

.rootCat0 {
  width: 50%;
}
.rootCat1 {
  width: 50%;
}

.rootnode {
  border: 1px dashed #b3394b;
  padding: 5px;
}

.rootnode .cat-name {
  border: 1px solid #f7b0bb;
  background-color: rgba(243, 60, 105, 0.61);
  padding: 0px 8px;
}
.rootCat > .cat-name {
  background-color: rgba(243, 60, 105, 0.61);
  /* display: flex;
  flex-direction: column;
  font-size: 1.75rem; */
}

.rootCat .rootCat .cat-name {
  font-size: 1.5rem;
}

.leafCat .cat-name {
  font-size: 1.5rem;
  background-color: #f7b0bb;
}

.cat-list {
  background-color: #f7b0bb;
}

/* main body CSS */
#mainBody {
  display: flex;
  justify-content: space-around;
}

#main {
  background-color: #f7b0bb71;
  width: 780px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.animate__fadeIn {
  animation-duration: 3s;
}

@media only screen and (max-width: 768px) {
  .logo {
    font-size: 50px;
  }
}

@media only screen and (max-width: 968px) {
  .logo {
    font-size: 50px;
  }
  #main {
    background-color: #f7b0bb71;
    width: 750px;
    height: 200vh;
  }
}

#subMain {
  width: 90%;
  height: fit-content;
  margin-bottom: 30px;
}

.iconAndNickname {
  display: flex;
  align-items: center;
}

#subMain .icon {
  width: 60px;
  height: 60px;
  border-radius: 30%;
  border: 2px black solid;
  margin: 10px;
  padding: 0px;
  object-fit: contain;
}

#subMain .nickname {
  font-size: 20px;
  color: black;
  margin: 0 20px;
  text-decoration: underline;
}

.muaHref {
  text-decoration: none;
}

#subMain .portfolioPhoto {
  width: 100px;
  height: 100px;
  border: 1px darkblue dashed;
  padding: 0px;
  margin: 0px, 5px, 0px, 5px;
  object-fit: contain;
}

.muaAbstract {
  width: 100%;
  height: 200px;
  margin-top: 20px;
  background-color: #ecbee1;
  text-align: center;
  outline: 2px solid black;
}

.muaAbstract:hover {
  box-shadow: 3px 3px 10px 3px rgba(48, 13, 13, 0.9);
}

.portfolioDiv {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 0px 10px 0px 10px;
}

/* .porfolioDiv .portfolioPhoto {
  width: 60px;
  height: 60px;
  border: 2px black solid;
} */

.newMember {
  border: 2px solid red;
  color: red;
  height: fit-content;
  width: fit-content;
  padding: 5px;
  border-radius: 40px;
  font-weight: bold;
  background-color: #ecc3e2;
  margin: 0 20px;
}

.avgScore {
  border: 2px solid blue;
  color: blue;
  height: fit-content;
  width: fit-content;
  padding: 5px;
  border-radius: 40px;
  font-weight: bold;
  background-color: #ecc3e2;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 3px solid #b3394b;
  background-color: #f7b0bb;
  text-align: center;
  margin-top: 15rem;
  padding-top: 20px;
  font-size: 30px;
}

.pageBar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 2rem 10rem 0;
}

.muas {
  font-size: 2rem;
  font-weight: bold;
}

.changePage {
  display: flex;
  width: 25rem;
  justify-content: space-between;
}

.prevPage {
  font-size: 2rem;
  border: 2px solid black;
  border-radius: 30px;
  padding: 0 2rem;
  font-weight: bold;
  cursor: pointer;
}

.nextPage {
  font-size: 2rem;
  border: 2px solid black;
  border-radius: 30px;
  padding: 0 2rem;
  font-weight: bold;
  cursor: pointer;
}

.prevPage:hover {
  box-shadow: 3px 3px 10px 3px rgba(48, 13, 13, 0.9);
}
.nextPage:hover {
  box-shadow: 3px 3px 10px 3px rgba(48, 13, 13, 0.9);
}

.moreDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
}

.moreDiv div {
  text-align: center;
  color: blue;
  font-size: 15px;
  font-weight: bold;
}

.pageBarSelect {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 50px;
  margin-bottom: 30px;
  padding: 0 30%;
}

.pageBtn {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  cursor: pointer;
}

.pageBtn:hover {
  box-shadow: 3px 3px 10px 3px rgba(48, 13, 13, 0.9);
}

.pageBtnText {
  font-size: 30px;
  font-weight: bold;
}

.pageBtnSelected {
  background-color: orange;
}
